.fatrat-option-add-edit table p {
    color: #838383;
    font-size: 12px;
}
.spider-tab-content table p {
    color: #838383;
    font-size: 12px;
}
.spider-tab-content p {
    color: #838383;
    font-size: 12px;
}
.todo-and-author-class li {
    color: #336600;
    font-size: 13px;
}
.p-tips-style {
    color: #99CC33;
    font-size: 12px;
}